src/pipeline_analyzer/jn_analyzer/resources/inputs/
src/pipeline_analyzer/jn_analyzer/resources/backups/
src/pipeline_analyzer/jn_analyzer/resources/outputs/
src/pipeline_analyzer/jn_analyzer/resources/inputs_1000/
src/pipeline_analyzer/jn_analyzer/resources/outputs_*/
src/pipeline_analyzer/jn_analyzer/resources/outputs_batch*/
src/pipeline_analyzer/jn_analyzer/resources/outputs_batch*_cleaned/
src/pipeline_analyzer/sample*
src/pipeline_analyzer/outputs_*
src/pipeline_analyzer/jn_analyzer/resources/new_trained_models/
.ipynb_checkpoints
*_macro.txt
*_results.txt
*_weight.txt
*.pdf
# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version